WadaSNR/
.idea/
*.pyc
.DS_Store
./__init__.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# vim
*.swp
*.swm
*.swn
*.swo

# pytorch models
*.pth
*.pth.tar
!dummy_speakers.pth
result/

# setup.py
version.py

# jupyter dummy files
core

# ignore local datasets
recipes/WIP/*
recipes/ljspeech/LJSpeech-1.1/*
recipes/vctk/VCTK/*
recipes/**/*.npy
recipes/**/*.json
VCTK-Corpus-removed-silence/*

# ignore training logs
trainer_*_log.txt

# files used internally for dev, test etc.
tests/outputs/*
tests/train_outputs/*
TODO.txt
.vscode/*
data/*
notebooks/data/*
TTS/tts/utils/monotonic_align/core.c
.vscode-upload.json
temp_build/*
events.out*
old_configs/*
model_importers/*
model_profiling/*
docs/source/TODO/*
.noseids
.dccache
log.txt
umap.png
*.out
SocialMedia.txt
output.wav
tts_output.wav
deps.json
speakers.json
internal/*
*_pitch.npy
*_phoneme.npy
wandb
depot/*
coqui_recipes/*
local_scripts/*
coqui_demos/*
coqui_env/pyvenv.cfg
coqui_env/Scripts/activate
coqui_env/Scripts/activate.bat
coqui_env/Scripts/Activate.ps1
coqui_env/Scripts/cygdb.exe
coqui_env/Scripts/cython.exe
coqui_env/Scripts/cythonize.exe
coqui_env/Scripts/dateparser-download.exe
coqui_env/Scripts/deactivate.bat
coqui_env/Scripts/encodec.exe
coqui_env/Scripts/f2py.exe
coqui_env/Scripts/flask.exe
coqui_env/Scripts/fonttools.exe
coqui_env/Scripts/gruut-ipa.exe
coqui_env/Scripts/gruut.exe
coqui_env/Scripts/hf.exe
coqui_env/Scripts/huggingface-cli.exe
coqui_env/Scripts/isympy.exe
coqui_env/Scripts/markdown_py.exe
coqui_env/Scripts/markdown-it.exe
coqui_env/Scripts/mid3cp.exe
coqui_env/Scripts/mid3iconv.exe
coqui_env/Scripts/mid3v2.exe
coqui_env/Scripts/moggsplit.exe
coqui_env/Scripts/mutagen-inspect.exe
coqui_env/Scripts/mutagen-pony.exe
coqui_env/Scripts/nltk.exe
coqui_env/Scripts/normalizer.exe
coqui_env/Scripts/num2words
coqui_env/Scripts/numba
coqui_env/Scripts/pip.exe
coqui_env/Scripts/pip3.10.exe
coqui_env/Scripts/pip3.exe
coqui_env/Scripts/pybabel.exe
coqui_env/Scripts/pyftmerge.exe
coqui_env/Scripts/pyftsubset.exe
coqui_env/Scripts/pygmentize.exe
coqui_env/Scripts/pypinyin.exe
coqui_env/Scripts/python.exe
coqui_env/Scripts/pythonw.exe
coqui_env/Scripts/spacy.exe
coqui_env/Scripts/sudachipy.exe
coqui_env/Scripts/tensorboard.exe
coqui_env/Scripts/tiny-agents.exe
coqui_env/Scripts/torchfrtrace.exe
coqui_env/Scripts/torchrun.exe
coqui_env/Scripts/tqdm.exe
coqui_env/Scripts/transformers-cli.exe
coqui_env/Scripts/transformers.exe
coqui_env/Scripts/ttx.exe
coqui_env/Scripts/typer.exe
coqui_env/Scripts/unidecode.exe
coqui_env/Scripts/weasel.exe
coqui_env/Scripts/wheel.exe
coqui_env/share/doc/networkx-2.8.8/LICENSE.txt
coqui_env/share/doc/networkx-2.8.8/examples/README.txt
coqui_env/share/doc/networkx-2.8.8/examples/3d_drawing/mayavi2_spring.py
coqui_env/share/doc/networkx-2.8.8/examples/3d_drawing/plot_basic.py
coqui_env/share/doc/networkx-2.8.8/examples/3d_drawing/README.txt
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/hartford_drug.edgelist
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_beam_search.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_betweenness_centrality.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_blockmodel.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_circuits.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_davis_club.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_dedensification.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_iterated_dynamical_systems.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_krackhardt_centrality.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_parallel_betweenness.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_rcm.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_snap.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/plot_subgraphs.py
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/README.txt
coqui_env/share/doc/networkx-2.8.8/examples/algorithms/WormNet.v3.benchmark.txt
coqui_env/share/doc/networkx-2.8.8/examples/basic/plot_properties.py
coqui_env/share/doc/networkx-2.8.8/examples/basic/plot_read_write.py
coqui_env/share/doc/networkx-2.8.8/examples/basic/plot_simple_graph.py
coqui_env/share/doc/networkx-2.8.8/examples/basic/README.txt
coqui_env/share/doc/networkx-2.8.8/examples/drawing/chess_masters_WCC.pgn.bz2
coqui_env/share/doc/networkx-2.8.8/examples/drawing/knuth_miles.txt.gz
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_chess_masters.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_custom_node_icons.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_degree.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_directed.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_edge_colormap.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_ego_graph.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_eigenvalues.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_four_grids.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_house_with_colors.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_knuth_miles.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_labels_and_colors.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_multipartite_graph.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_node_colormap.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_rainbow_coloring.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_random_geometric_graph.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_sampson.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_selfloops.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_simple_path.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_spectral_grid.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_tsp.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_unix_email.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/plot_weighted_graph.py
coqui_env/share/doc/networkx-2.8.8/examples/drawing/README.txt
coqui_env/share/doc/networkx-2.8.8/examples/drawing/unix_email.mbox
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_degree_sequence.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_erdos_renyi.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_expected_degree_sequence.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_football.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_karate_club.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_morse_trie.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_napoleon_russian_campaign.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_roget.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/plot_words.py
coqui_env/share/doc/networkx-2.8.8/examples/graph/README.txt
coqui_env/share/doc/networkx-2.8.8/examples/graph/roget_dat.txt.gz
coqui_env/share/doc/networkx-2.8.8/examples/graph/words_dat.txt.gz
coqui_env/share/doc/networkx-2.8.8/examples/subclass/plot_antigraph.py
coqui_env/share/doc/networkx-2.8.8/examples/subclass/plot_printgraph.py
coqui_env/share/doc/networkx-2.8.8/examples/subclass/README.txt
coqui_env/share/man/man1/isympy.1
coqui_env/share/man/man1/mid3cp.1
coqui_env/share/man/man1/mid3iconv.1
coqui_env/share/man/man1/mid3v2.1
coqui_env/share/man/man1/moggsplit.1
coqui_env/share/man/man1/mutagen-inspect.1
coqui_env/share/man/man1/mutagen-pony.1
coqui_env/share/man/man1/ttx.1
